{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "modules": "commonjs",
        "debug": true,
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ]
}
